<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='script.js') }}" defer></script>
	<title>Mars Weather</title>
</head>
<body>
<h1>
	Mars Weather Dashboard for Travelers
</h1>
<h3>
	Check recent 7 sols' weather at Elysium plantia by <em><a href = "https://science.nasa.gov/mission/insight/" class = "link" target = "_black">Insight</a></em>
</h3>
<div class = "background">
</div>
<div class = "today">
</div>
<div class = "card-container">
	<div class = "card" id = "card1">
	</div>
	<div class = "card" id = "card2">
	</div>
	<div class = "card" id = "card3">
	</div>
	<div class = "card" id = "card4">
	</div>
	<div class = "card" id = "card5">
	</div>
	<div class = "card" id = "card6">
	</div>
	<div class = "card" id = "card7">
	</div>
</div>
<div class = "todayDiv">
</div>
<p id = "divisor">
────────────────────
</p>
<div class = "detail-info">
</div>
</body>
</html>